


#agendamentos-section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px;
    
}

#agendamentos-section h2 {
    color: #333;
    margin-bottom: 20px;
} 
