<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Mãos de Fada</title>
    <link rel="shortcut icon" type="imagex/png" href="/icon/botao-de-roupa.ico">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Mãos de Fada</h1>
    </header>

    <section id="cadastro-section">
        <h2>Cadastro</h2>
        <form onsubmit="salvarDados(event)" id="cadastro-form">
            <label for="nome">Nome Completo:</label>
            <input type="text" id="nome" name="nome" placeholder="Digite seu nome completo" required>
            
            <label for="usuario">Nome do Usuário:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Digite seu email" required>
            
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required>
            
            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" name="telefone" placeholder="(00) 00000-0000" required>
            
            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" placeholder="Digite seu endereço" required>
            
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem uma conta? <a href="/login/login.html">Faça login</a></p>
    </section>

    <footer>
        <p>&copy; 2024 Mãos de Fada. Todos os direitos reservados.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
