{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mãos de Fada</title>
    <link rel="shortcut icon" type="imagex/png" href="/icon/botao-de-roupa.ico">
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
</head>
<body>
    <header>
        <h1>Mãos de Fada</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/login/login.html">Serviços</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <h2>Encontre a costureira perfeita para você!</h2>
        <section id="search">
            <input type="text" id="location" placeholder="Digite a região (ex: Centro)">
            <button onclick="searchLocation()">Buscar</button>
        </section>
        <div id="map"></div>
    </section>

    <footer>
        <p>&copy; 2024 Mãos de Fada. Todos os direitos reservados.</p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="{% static 'js/scriptindex.js' %}"></script>
</body>
</html>
